<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>K.makise</title>
</head>
<body style="margin: 30px;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">动画站</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/type">种类 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tag">TAG</a>
            </li>
        </ul>
        {% if user is none %}
        <div class="my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="directToLogIn()">登陆</button>
        </div>
        {% else %}
        <div class="nav-item dropdown mr-ms-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" style="color: #000;">
                {{user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/watchlist/{{user}}">看番记录</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">注销</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
<div style="padding: 10vh 50px;font-size: 25px;" class="container">
    <form method="POST" action="addAnime" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">动画名称</label>
            <input type="text" class="form-control" id="name" name='name' placeholder="名称">
        </div>
        <div class="form-group">
            <label for="describe">简介</label>
            <textarea class="form-control" rows="3" id="describe" name='describe' placeholder="简介"></textarea>
        </div>
        <div class="form-group">
            <label for="year">年份</label>
            <textarea class="form-control" rows="1" id="year" name='year' placeholder="年份"></textarea>
        </div>
        <div class="form-group">
            <label for="vocal">声优<p class="help-block" style="font-size: small">主要声优（空格分割）</p></label>
            <textarea class="form-control" rows="2" id="vocal" name='vocal' placeholder="声优"></textarea>
        </div>
        <div class="form-group">
            <label for="vocal">监督<p class="help-block" style="font-size: small">主要监督</p></label>
            <textarea class="form-control" rows="2" id="director" name='director' placeholder="监督"></textarea>
        </div>
        <div class="form-group">
            <label for="vocal">动画公司<p class="help-block" style="font-size: small">动画公司</p></label>
            <textarea class="form-control" rows="2" id="company" name='company' placeholder="动画公司"></textarea>
        </div>
        <div class="form-group">
            <label for="tag">评价tag<p class="help-block" style="font-size: small">将可以通过tag找到该动画（空格分割）</p></label>
            <textarea class="form-control" rows="2" id="tag" name='tag' placeholder="Tag"></textarea>
        </div>
        <div class="form-group">
            <label for="score">评分<p class="help-block" style="font-size: small">0-10</p></label>
            <textarea class="form-control" rows="1" id="score" name='score' placeholder="评分"></textarea>
        </div>
        <div class="form-group">
            <label for="episode_num">集数</label>
            <textarea class="form-control" rows="1" id="episode_num" name='episode_num' placeholder="集数"></textarea>
        </div>
        <div class="form-group">
            <label>类别</label><br>
            <div style="font-size: 18px">
                {% for item in data %}
                <label class="checkbox-inline">
                    <input type="checkbox" name="{{ item[0] }}" value="type"> {{ item[0] }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div class="form-group" style="font-size: 19px;">
            <label for="Image">封面图</label>
            <input type="file" multiple="multiple" name="file" id="Image">
        </div>
        <div style="display: table;width: 60%;margin-left: auto;margin-right: auto">
            <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
        </div>

    </form>
</div>
</body>
</html>