<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>K.makise</title>
</head>
<body style="margin: 30px;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">动画站</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/type">种类 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tag">TAG</a>
            </li>
        </ul>
    </div>
</nav>
<div style="padding: 10vh 50px;font-size: 25px;" class="container">
    <form method="POST" action="modifyAnime" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">动画名称</label>
            <input type="text" class="form-control" id="name" name='name' value="{{data[0]}}" readonly>
        </div>
        <div class="form-group">
            <label for="describe">简介</label>
            <textarea class="form-control" rows="3" id="describe" name='describe'>{{data[1]}}</textarea>
        </div>
        <div class="form-group">
            <label for="year">年份</label>
            <textarea class="form-control" rows="1" id="year" name='year'>{{data[3]}}</textarea>
        </div>
        <div class="form-group">
            <label for="vocal">声优<p class="help-block" style="font-size: small">主要声优（空格分割）</p></label>
            <textarea class="form-control" rows="2" id="vocal" name='vocal'>{{vocal}}</textarea>
        </div>
        <div class="form-group">
            <label for="vocal">监督<p class="help-block" style="font-size: small">主要监督</p></label>
            <textarea class="form-control" rows="2" id="director" name='director'>{{director}}</textarea>
        </div>
        <div class="form-group">
            <label for="vocal">动画公司<p class="help-block" style="font-size: small">动画公司</p></label>
            <textarea class="form-control" rows="2" id="company" name='company'>{{company}}</textarea>
        </div>
        <div class="form-group">
            <label for="tag">评价tag<p class="help-block" style="font-size: small">将可以通过tag找到该动画（空格分割）</p></label>
            <textarea class="form-control" rows="2" id="tag" name='tag'>{{tag}}</textarea>
        </div>
        <div class="form-group">
            <label for="score">评分<p class="help-block" style="font-size: small">0-10</p></label>
            <textarea class="form-control" rows="1" id="score" name='score'>{{data[5]}}</textarea>
        </div>
        <div class="form-group">
            <label for="episode_num">集数</label>
            <textarea class="form-control" rows="1" id="episode_num" name='episode_num'>{{data[7]}}</textarea>
        </div>
        <div style="display: table;width: 60%;margin-left: auto;margin-right: auto">
            <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
        </div>

    </form>
</div>
</body>
</html>