<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>K.makise</title>
</head>
<body style="margin:30px">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">动画站</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/type">种类 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/tag">TAG</a>
            </li>
        </ul>
    </div>
</nav>

<form method="post" action="/tag/result" role="form" style="margin: 10px 100px 10px 100px;">
    <label style="font-size: large">TAG</label>
    <div class="form-group">
        {% for item in tags %}
        <label class="checkbox-inline" style="margin: 2px 2px 2px 2px">
            <input type="checkbox" name={{item[0]}} value="tag">{{item[0]}} <span
                class="badge badge-light">{{item[1]}}</span>
        </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary btn-block">Search Start!</button>
</form>
</body>
</html>