<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="../static/basic.js"></script>
    <title>K.makise</title>
</head>
<body style="margin:30px">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">动画站</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/type">种类 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tag">TAG</a>
            </li>
        </ul>
        {% if user is none %}
        <div class="my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="directToLogIn()">登陆</button>
        </div>
        {% else %}
        <div class="nav-item dropdown mr-ms-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" style="color: #000;">
                {{user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/watchlist/{{user}}">看番记录</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">注销</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="todoke" tabindex="-1" role="dialog" aria-labelledby="animeName" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="animeName">添加TAG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label style="font-size: large">NAME:</label>
                <input type="text" class="form-control" id="m_name" name='m_name' readonly>
                <label style="font-size: large">TAG:</label>
                <input type="text" class="form-control" id="m_tag" name='m_tag'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="callAPI(this)">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>WATCH LIST</h1>
    </div>
    <ul class="list-group">
        {% for item in data %}
        <li class="list-group-item list" style="margin: 10px 0 10px 0;">
            <div class="anime_card row">
                <div class="col-sm-4">
                    <img src='{{"/static/"~item[6]}}'
                         style="height: 250px;width: 180px;margin-left: 50px">
                </div>
                <div class="col-sm-4">
                    <div>
                        <a href="/anime/{{item[0]}}" style="color: #000000;">
                            <div style="font-weight: bold;font-size: larger;display: inline-block;"
                                 id="anime{{loop.index0}}">{{ item[0] }}
                            </div>
                        </a>
                        <div style="display: inline-block;"><img src="../static/modify.png"
                                                                 style="height: 20px; width: 20px;margin-left: 10px"
                                                                 onclick="modify_anime(this)" id="{{loop.index0}}">
                        </div>
                        <div style="display: inline-block;"><img src="../static/delete.png"
                                                                 style="height: 20px; width: 20px;margin-left: 10px"
                                                                 onclick="remove_watch('{{loop.index0}}')">
                        </div>
                    </div>
                    <div class="list-group-item-text" style="padding-bottom: 2px">声优：
                        {% for vocal in vocals[loop.index0] %}
                        <a class="badge badge-light" href="#" style="font-size: 13px;">{{vocal[0]}}</a>
                        {% endfor %}
                    </div>
                    <div class="list-group-item-text" style="padding-bottom: 2px">监督：
                        {% for direct in directors[loop.index0] %}
                        <a class="badge badge-light" href="#" style="font-size: 13px;">{{direct[0]}}</a>
                        {% endfor %}
                    </div>
                    <div class="list-group-item-text" style="padding-bottom: 2px">集数：{{ item[7] }}</div>
                    <div class="list-group-item-text" style="padding-bottom: 2px">制作公司：
                        {% for company in companys[loop.index0] %}
                        <a class="badge badge-light" href="#" style="font-size: 13px;">{{company[0]}}</a>
                        {% endfor %}
                    </div>
                    <div class="list-group-item-text" style="padding-bottom: 2px">年份：{{ item[3] }}</div>
                    <div class="list-group-item-text" style="padding-bottom: 2px">评分：{{ item[5] }}</div>
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" title="简介"
                            data-content="{{item[1]}}">简介
                    </button>
                </div>
                <div class="col-sm-4">
                    <div style="font-weight: bold;font-size: large">TAG</div>
                    {% for tag in tags[loop.index0] %}
                    <a class="badge badge-pill badge-primary" style="font-size: small;color: #ffffff;">
                        {{ tag[0] }} <span class="badge badge-light" style="font-size: small">{{ tag[1] }}</span>
                    </a>
                    {% endfor %}
                    <button type="button" class="btn btn-primary btn-sm add-more" id="{{ item[0] }}"
                            style="margin: 0 2px 0 2px;font-size: smaller;"
                            data-toggle="modal" data-target="#todoke" onclick="Values(this)">
                        添加更多
                    </button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!--不知道为什么，这个函数就是找不到。。-->
<script>
    function remove_watch(index) {
    console.log(index);
    var a_index = "div#anime" + index;
    var name = $(a_index).text();
    var url = "http://127.0.0.1:5000/removeAnimeFromWatch/" + name;
    // console.log(url);
    $.get(
        url,
        function (data) {
            if (data == "success") {
                window.location.reload();
            }
            else{
                console.log("something goes wrong")
            }
        }
    )
}
</script>
</body>
</html>